Introduction to Data Science (part-2)
    Learning Pandas Library

In [98]:
import pandas as pd
#creating a pandas dataframe
df = pd.DataFrame({'Nepal': [356, 350, 300], 'India': [ 300, 600, 800 ], 'China': [None, None, 1200]})

ModuleNotFoundError: No module named 'Series'

In [23]:
#data size
print(df.size)

6

In [28]:
#selecting columns
print(df[['Nepal', 'China']])

   Nepal China
0    356  None
1    350  None

In [44]:
print(df)
#selecting a value in pandas
print(df['Nepal'])

   Nepal  India China
0    356    300  None
1    350    600  None
0    356
1    350
Name: Nepal, dtype: int64

In [54]:
print(df.loc[0])

print(dict(df.iloc[1]))

Nepal     356
India     300
China    None
Name: 0, dtype: object
{'Nepal': 350, 'India': 600, 'China': None}

In [57]:
df.isnull()

   Nepal  India  China
0  False  False   True
1  False  False   True

In [73]:
#filling missing value with:
df.fillna(100)

#dropping a row with any not available value:
df.dropna()

print(df)

   Nepal  India   China
0    356    300     NaN
1    350    600     NaN
2    300    800  1200.0

In [76]:
for i,j in df.iterrows():
    print(i,j)

0 Nepal    356.0
India    300.0
China      NaN
Name: 0, dtype: float64
1 Nepal    350.0
India    600.0
China      NaN
Name: 1, dtype: float64
2 Nepal     300.0
India     800.0
China    1200.0
Name: 2, dtype: float64

In [81]:
for i in list(df):
    print(df[i].size)

3
3
3

In [139]:
df.insert(column= 'Pakistan', value=[360, None, 1000], loc = 1)

ValueError: cannot insert Pakistan, already exists

In [90]:
print(df['Nepal'].add(df['India']))
print(df['Nepal'].mul(df['India']))

0    106800
1    210000
2    240000
dtype: int64

In [95]:
df.nunique()

Nepal       3
Pakistan    2
India       3
China       1
dtype: int64

In [145]:
import pandas as pd
from datetime import datetime
data_csv = pd.read_csv("KTM_WEATHER_DATA.csv")

print(data_csv.tail())

         timestamp  Temperature  Precipitation  Wind Speed  Wind Direction
187  20200823T1900    20.730800            0.0    1.921038       236.30994
188  20200823T2000    20.020800            0.0    1.191377       243.43495
189  20200823T2100    19.830801            0.0    1.130240       315.00000
190  20200823T2200    19.500801            0.0    1.787066       296.56506
191  20200823T2300    19.650800            0.0    2.291659       305.53770

In [146]:
def str_to_date(str_date):
    dates, time = str_date.split('T') 
    time = time[0:2] + ':' + time[2:] + ':00'
    dates = dates[-2:]+'/'+dates[-4:-2]+'/'+dates[2:4]
    datestime = dates + ' ' + time
    return (datetime.strptime(datestime, '%d/%m/%y %H:%M:%S'))

In [147]:
year = []
month = []
day = []
time = []
for i in data_csv['timestamp']:
    year.append(str_to_date(i).year)
    month.append(str_to_date(i).month)
    day.append(str_to_date(i).day)
    time.append(str_to_date(i).time())
data_csv.insert(column = 'Time', value=time, loc =1)
data_csv.insert(column = 'Day', value=day, loc =1)
data_csv.insert(column = 'Month', value=month, loc =1)
data_csv.insert(column = 'Year', value=year, loc =1)

In [152]:
data_csv = data_csv.drop(['timestamp'], axis=1)
print(data_csv)

KeyError: "['timestamp'] not found in axis"