# ARIMA model for time series analysis

In [62]:
from pandas import read_csv
import pandas as pd
from matplotlib import pyplot
from datetime import datetime
from pandas.plotting import autocorrelation_plot
from random import randint

file_name = 'supermarket_sales - Sheet1.csv'

def parser(date_in_str):
    dates, time = date_in_str.split('T') 
    time = time[0:2] + ':' + time[2:] + ':00'
    dates = dates[-2:]+'/'+dates[-4:-2]+'/'+dates[2:4]
    datestime = dates + ' ' + time
    return datetime.strptime(datestime, '%d/%m/%y %H:%M:%S')

In [65]:
main_data = read_csv(file_name, parse_dates=[0])
main_data.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [57]:
time_data

0     2020-08-16 00:00:00
1     2020-08-16 01:00:00
2     2020-08-16 02:00:00
3     2020-08-16 03:00:00
4     2020-08-16 04:00:00
              ...
187   2020-08-23 19:00:00
188   2020-08-23 20:00:00
189   2020-08-23 21:00:00
190   2020-08-23 22:00:00
191   2020-08-23 23:00:00
Name: timestamp, Length: 192, dtype: datetime64[ns]