day 3, Python, intro to data science Pandas and numpy intro

Source:
https://www.datacamp.com/community/blog/python-pandas-cheat-sheet?utm_source=adwords_ppc&utm_campaignid=1658343524&utm_adgroupid=63833881615&utm_device=c&utm_keyword=%2Bpandas%20%2Bcheat%20%2Bsheet&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=319519154601&utm_targetid=aud-522010995285:kwd-589281899014&utm_loc_interest_ms=&utm_loc_physical_ms=9070019&gclid=CjwKCAjwyo36BRAXEiwA24CwGdZ45--NB3kQf7qzocj2EE-TZ_W3PHxDd2SzmqoCwURD8PaCiKg67RoC7VUQAvD_BwE

In [41]:
import pandas as pd
from datetime import datetime
data_csv = pd.read_csv("KTM_WEATHER_DATA.csv")

def str_to_date(str_date):
    dates, time = str_date.split('T') 
    time = time[0:2] + ':' + time[2:] + ':00'
    dates = dates[-2:]+'/'+dates[-4:-2]+'/'+dates[2:4]
    datestime = dates + ' ' + time
    return (datetime.strptime(datestime, '%d/%m/%y %H:%M:%S'))

year = []
month = []
day = []
time = []
for i in data_csv['timestamp']:
    year.append(str_to_date(i).year)
    month.append(str_to_date(i).month)
    day.append(str_to_date(i).day)
    time.append(str_to_date(i).time())
data_csv.insert(column = 'Time', value=time, loc =1)
data_csv.insert(column = 'Day', value=day, loc =1)
data_csv.insert(column = 'Month', value=month, loc =1)
data_csv.insert(column = 'Year', value=year, loc =1)

In [42]:
print(data_csv[['Month', 'Day', 'Temperature']].head())

   Month  Day  Temperature
0      8   16    20.840800
1      8   16    20.680800
2      8   16    20.380800
3      8   16    19.920801
4      8   16    20.200800

In [43]:
# dataFrame_obj[ starting_index : ending_index ][ [<list_of_columns>]]
data_csv[3:5][['Month', 'Day', 'Temperature']]

   Month  Day  Temperature
3      8   16    19.920801
4      8   16    20.200800

In [44]:
print(data_csv.iloc[[0],[3]]) #indexing by position

print(data_csv.loc[[0],['Temperature']]) #indexing by label

   Day
0   16
   Temperature
0      20.8408

In [45]:
#boolean indexing
data_csv[data_csv['Day']>16]

,timestamp,Year,Month,Day,Time,Temperature,Precipitation,Wind Speed,Wind Direction
24,20200817T0000,2020,8,17,00:00:00,20.750801,0.1,1.332000,323.13013
25,20200817T0100,2020,8,17,01:00:00,20.540800,0.0,1.705792,321.34020
26,20200817T0200,2020,8,17,02:00:00,20.420801,0.0,1.130240,315.00000
27,20200817T0300,2020,8,17,03:00:00,20.310800,0.0,0.595689,296.56506
28,20200817T0400,2020,8,17,04:00:00,20.210800,0.0,0.842431,288.43494
...,...,...,...,...,...,...,...,...,...
187,20200823T1900,2020,8,23,19:00:00,20.730800,0.0,1.921038,236.30994
188,20200823T2000,2020,8,23,20:00:00,20.020800,0.0,1.191377,243.43495
189,20200823T2100,2020,8,23,21:00:00,19.830801,0.0,1.130240,315.00000
190,20200823T2200,2020,8,23,22:00:00,19.500801,0.0,1.787066,296.56506
191,20200823T2300,2020,8,23,23:00:00,19.650800,0.0,2.291659,305.53770

In [46]:
data_csv = data_csv.drop('timestamp', axis=1)

In [49]:
print(data_csv.shape)
print(data_csv.index)
print(data_csv.columns)
print(data_csv.info())
print(data_csv.count())

(192, 8)
RangeIndex(start=0, stop=192, step=1)
Index(['Year', 'Month', 'Day', 'Time', 'Temperature', 'Precipitation',
       'Wind Speed', 'Wind Direction'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            192 non-null    int64
 1   Month           192 non-null    int64
 2   Day             192 non-null    int64
 3   Time            192 non-null    object
 4   Temperature     192 non-null    float64
 5   Precipitation   192 non-null    float64
 6   Wind Speed      192 non-null    float64
 7   Wind Direction  192 non-null    float64
dtypes: float64(4), int64(3), object(1)
memory usage: 11.3+ KB
None
Year              192
Month             192
Day               192
Time              192
Temperature       192
Precipitation     192
Wind Speed        192
Wind Direction    192
dtype: int64

In [51]:
func = lambda x: x+10

In [57]:
data_csv[['Temperature','Day']].applymap(func)

     Temperature  Day
0      30.840800   26
1      30.680800   26
2      30.380800   26
3      29.920801   26
4      30.200800   26
..           ...  ...
187    30.730800   33
188    30.020800   33
189    29.830801   33
190    29.500801   33
191    29.650800   33

[192 rows x 2 columns]

In [64]:
s = pd.Series(range(29), index=range(29))
print(s)
s[s>10]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
dtype: int64

11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
dtype: int64

Numpy array and matplotlib
Source:
https://www.datacamp.com/community/tutorials/python-numpy-tutorial?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034364&utm_targetid=aud-390929969673:dsa-473406585115&utm_loc_interest_ms=&utm_loc_physical_ms=9070019&gclid=CjwKCAjwyo36BRAXEiwA24CwGUcbz9bE56vhSHiG_0ScX0akkCWvbdhao9uHqookjK9dBiLb71Rl2hoCPukQAvD_BwE

In [9]:
import numpy as np
time_temp_data = np.array(data_csv[['Day','Time','Temperature']])

print(time_temp_data[0:5])

NameError: name 'data_csv' is not defined

In [85]:
#generate random in numpy
print(np.random.random((3,3)))

# Create an array of ones
print(np.ones((3,4)))

# Create an array of zeros
print(np.zeros((2,3,4),dtype=np.int16))

# Create an array with random values
print(np.random.random((2,2)))

# Create an empty array
print(np.empty((3,2)))

# Create a full array
print(np.full((2,2),3.2))

# Create an array of evenly-spaced values
print(np.arange(10,25,5))

# Create an array of evenly-spaced values
print(np.linspace(0,2,9))

[[0.02348287 0.37790118 0.97668843]
 [0.82168597 0.4049323  0.23671484]
 [0.26516957 0.86433263 0.46498074]]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]

 [[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]]
[[0.23471235 0.32329539]
 [0.21306736 0.98933242]]
[[0. 0.]
 [0. 0.]
 [0. 0.]]
[[3.2 3.2]
 [3.2 3.2]]
[10 15 20]
[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.  ]

we can also generate numpy array from text files

In [12]:
#broadcasting in numpy
x = np.random.random((3,2,1))
y = np.ones((3,1))
print(x+y)

ValueError: operands could not be broadcast together with shapes (3,2,1) (3,1)

In [118]:
# Initialize `x` and `y`
x = np.ones((3,4))
y = np.random.random((5,1,4))

# Add `x` and `y`
print((y+2)**2)

[[[7.15923418 7.41712108 4.02495071 7.50879933]]

 [[6.73547593 4.74567961 4.21299898 4.02208985]]

 [[7.74001978 6.23750774 7.92382723 7.43377574]]

 [[5.8677611  4.29060611 7.23062943 4.41864941]]

 [[4.7065239  6.95846457 4.48977029 5.4738553 ]]]

In [139]:
# Masking in numpy_array
a = time_temp_data[time_temp_data[:,2]<20]
b=a
b.

16
03:00:00
19.920801
17
05:00:00
19.8208
18
04:00:00
19.8908
18
05:00:00
19.6008
21
03:00:00
19.8808
21
04:00:00
19.8708
21
05:00:00
19.9508
22
01:00:00
19.5508
22
02:00:00
19.5608
22
03:00:00
19.8208
22
04:00:00
19.9708
23
02:00:00
19.9408
23
03:00:00
19.8008
23
04:00:00
19.7708
23
05:00:00
19.670801
23
21:00:00
19.830801
23
22:00:00
19.500801
23
23:00:00
19.6508

Addtional Source:
    https://numpy.org/doc/stable/user/quickstart.html
    
    
Tomorrow start from here:
    https://numpy.org/doc/stable/user/quickstart.html#less-basic

Enter no. of days:8
Final result Day: 8 Total Flies : 129